
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{% block title %}SB Admin 2 - Dashboard!{% endblock %}</title>
        {% block stylesheets %}
            <!-- Custom fonts for this template--
            <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">-->
            <link
                    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
                    rel="stylesheet">

            <!-- Custom styles for this template--
            <link href="css/sb-admin-2.min.css" rel="stylesheet">-->
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block corps %}

        {% endblock %}
    </body>
</html>