{% extends '@!EasyAdmin/layout.html.twig' %}

    {% block title %}SB Admin 2 - Dashboard!{% endblock %}
    {% block stylesheets %}

        <link
                href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
                rel="stylesheet">

        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block block %}
        <body id="page-top">

            <!-- Page Wrapper -->
            <div id="wrapper">
                {% include "include/sidebar.html.twig" %}


                <!-- Content Wrapper -->
                <div id="content-wrapper" class="d-flex flex-column">

                    <!-- Main Content -->
                    <div id="content">
                        {% include "include/navbar.html.twig"  %}
                        {% block content %}

                        {% endblock %}
                    </div>
                    <!-- End of Main Content -->
                    <!-- Footer -->
                     <footer class="sticky-footer bg-white">
                        <div class="container my-auto">
                            <div class="copyright text-center my-auto">
                                <span>Copyright &copy; Your Website 2020</span>
                            </div>
                        </div>
                    </footer>
                    <!-- End of Footer -->

                </div>
                <!-- End of Content Wrapper -->

            </div>
            <!-- End of Page Wrapper -->

            <!-- Scroll to Top Button-->
            <a class="scroll-to-top rounded" href="#page-top">
                <i class="fas fa-angle-up"></i>
            </a>
            {% block javascripts %}
                {{ encore_entry_script_tags('app') }}
            {% endblock javascripts %}
        </body>
    {% endblock %}