{% extends 'base.html.twig' %}
{#{% extends 'baseAvecEasyAdmin.html.twig' %}#}
{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-4 text-gray-800">Blank Page</h1>

    </div>
    <!-- /.container-fluid -->
{% endblock %}